.App {
  text-align: center;
}

.logo {
  padding-top: 50px;
  height: 20vmin;
  pointer-events: none;
  font-size: x-large;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo infinite 1.9s;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes logo {
  from {
    color: rgb(205, 199, 212);
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    color: rgb(255, 255, 255);
  }
}

body {
  background-color: black;
  color: white;
}

P {
  padding-top: 10px;
  font-size: xx-large;
  font-weight: 520;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
}

img {
  border: solid white 0.9px;
  height: 400px;
}

header {
  color: black;
  font-size: xx-large;
  background-color: rgb(236, 236, 236);
  padding-bottom: 10px;
  background-position: sticky;
}

/* .logo {
  box-shadow: 10px;
} */
.maintitl {
  display: flex;
  justify-content: center;
}
